/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1024px;
  padding: 0 15px;
}

table td { display: block; overflow: auto;}
