[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.0.2"
requests = "==2.21.0"
pyjwt = "==1.7.1"
pyzmq = "==17.1.2"
pymsteams = "==0.1.9"
protobuf = "==3.7.0"

[dev-packages]

[requires]
python_version = "3"
